#HeaderClass{
  z-index: 100;
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#start{
  align-self: start;
}
#startinvis{
  align-self: start;
  z-index: -10000;
  color: white;
  cursor: auto;
}
#end{
  align-self: end;
}

.HeaderButton{
  background-color: transparent;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top:2.5%;
  font-size: 2.93vh;
  outline: none;
  /*background-color: lightblue; Adds background to form */
  background-color: none;
  border: none;
  color: darkgrey;
  font-weight: bold;
  cursor: pointer;
  transition:  transform 250ms;  
}
.HeaderButtonHide{
  color: transparent;
  background-color: transparent;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top:2.5%;
  font-size: 2.93vh;
  outline: none;
  /*background-color: lightblue; Adds background to form */
  background-color: none;
  border: none;
  cursor: default;
}

.HeaderButtonHide:hover{
  cursor: default;
}

.HeaderButton:hover{
  transform: translateX(-8px);
}
:not(.HeaderButtonHide):hover{
  color: black;
}
@keyframes scale {
  50%{
    transform: scale(0.5)
  }
  100%{
    transform: scale(1)
  }
}