.grid-container-element {
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; 
  grid-auto-rows: 200px;
  grid-template-areas:
  "a a b b"
  "a a b b";
} 
.item1 { 
  position: absolute;
  grid-area: a;
  align-self: center;
  justify-self: center;
  bottom: 50vh;
  left: 80vh;
}
.item2 { 
  position: absolute;
  grid-area: b;
  align-self: center;
  justify-self: center;
  bottom: 50vh;
  right: 80vh;
}
.container{
  height: 100vh;
}