* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  min-height: 100vh;
}



/*/https://www.w3schools.com/css/css_align.asp
Look into how this works/*/
form{
  display:flex;
  margin: auto;
  width: 50%;
  height: 100vh;
}
input{
  border: none;
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 2.39vh;
}

/* this is to disable the safari icons */
::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

#hide {
  position: absolute;
  opacity: 0;
  z-index: -100;
  white-space: pre;
}

input {
  min-width: 20px;
  padding: 0px;
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover{
  cursor: pointer;
}