* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.halfborder{
  z-index: -100;
  position:absolute;
  height:50%;
  width:50%;
  border: 2px dashed red;
}
body {
  min-height: 100vh;
}



/*/https://www.w3schools.com/css/css_align.asp
Look into how this works/*/
form{
  display:flex;
  margin: auto;
  width: 50%;
  height: 100vh;
}
input{
  border: none;
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 25px;
  padding-bottom: 1rem;
}

/* this is to disable the safari icons */
::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}
