button{
  outline: none;
  /*background-color: lightblue; Adds background to form */
  background-color: none;
  border: none;
  color: darkgrey;
  font-size:30px;
  font-weight: bold;
  cursor: pointer;
}
