
.PDFGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "yeezy . . . ."
  ". . . . ."
  ". . . . .";
  transition: background-color 5s;
  transition-delay: 1s;
}

#yeezy{
  grid-area: yeezy;
  outline: none;
  /*background-color: lightblue; Adds background to form */
  background-color: none;
  border: none;
  color: darkgrey;
  font-size:1.17vw;
  font-weight: bold;
  cursor: pointer;
  justify-self: end;
  align-self: end;
}
#yeezy:hover{
  color: rgba(236, 238, 227, 1)
}

.slatt{
  transition: background-color 2s;
}
#transition.slatt{
   background-color: rgb(128,128,128);
}