*{
  margin: 0;
  padding: 0;
}
#PortalHeader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  width: 100%;
}
#PortalHeaderClass{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #start{
    align-self: start;
  }
  
  .PortalExit{
    background-color: transparent;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top:2.5%;
    font-size: 1.17vw;
  }
main{
  height: 100vh;
}

.grid{
  font-family: Arial, Helvetica, sans-serif;
  color: darkgrey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  ". . . ."
  ". donda artcenter ."
  ". . . ."
}

.donda{
  font-size: 5.3vw;
  grid-area: donda;
  justify-self: center;
  align-self: center;
  background-color: transparent;
}

.artcenter{
  font-size: 5.3vw;
  grid-area: artcenter;
  justify-self: center;
  align-self: center;
  background-color: transparent;
}