.halfborder1{
  z-index: -100;
  position:fixed;
  height:50%;
  width:50%;
  border-top-color: white;
  border-left-color: white;
}
.halfborder2{
  z-index: -100;
  position: fixed;
   height:100%;
  width:50%;
  border-top-color: white;
  border-left-color: white;
  border-right: 1px dashed red;
}
.halfborder3{
  z-index: -100;
  position:fixed;
  height:50%;  /*controls middle axis height */
  width:100%;
  border-top-color: white;
  border-left-color: white;
  border-bottom: 1px dashed red;
}